.doctorBackdrop {
    height       : max-content;
    margin-bottom: 30px;
}

.infoBox {
    width           : 80%;
    height          : max-content;
    border          : 2px solid #006632;
    background-color: white;
    border-radius   : 10px;
    display         : flex;

}

.infoBox img {
    width: 70%;
}

.infoBox h5 {
    font-weight: normal;
}

.infoBox h2 {
    color: #006632;
}

.infoBox h2:hover {
    cursor: pointer;
    color : #f58220;
}

.doctorRole {
    font-weight: bolder;
}

@media (max-width: 991px) {
    .infoBox {
        flex-direction: column;
    }

    .img-customize {
        margin-left: 0px !important;
    }
}

.img-customize {
    height         : 170px;
    background-size: cover;
    width          : 170px;
}

.imgBox {
    padding        : 5px 0;
    display        : flex;
    justify-content: center;
    margin         : 0 10px;
    border         : solid 2px lightgray;
    border-radius  : 10px
}

.imgBox:hover {
    border: solid 2px #006632;
    cursor: pointer;
}

.activeBox {
    border: solid 2px #006632;
}